.timeline {
  ul {
    height: 32px;
    width:835px;
    padding: 5px 0;
    display: inline-block;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.11);
  }
  &__step {
    vertical-align: middle;
    display: inline-block;
    background: #e32e1f;
    color: white;
    text-align: center;
    width: 15px;
    min-height: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    span {
      display: none;
    }
    &:hover {
      width: 70px;
      span {
        display: block;
      }
      .timeline__step:nth-child(1){
        width: 15px;
        span {
          display: none;
        }
      };
    }
  }
}
//&:after {
//  width: 5px;
//  height: 5px;
//  content: " ";
//  position: absolute;
//  left: 15px;
//  bottom: -2px;
//  z-index: 8;
//  transform: rotate(45deg);
//  background: black;
//  border: 1px solid black;
//}
